h1 {
  font-size: 6vw;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
    color: #0080ff;
    background-color: #66d9ff;
    letter-spacing: .05em;
}
.button{
  background-color: #0080ff;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}